@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body,html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Pacifico', cursive;
    font-size: 1rem;
}

h1 {
    font-size: 2rem;

}

p {
    font-size: 1rem;
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item {
    margin: 0 2rem;
    font-size: 1.3rem;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s ease;
}

.nav-item:hover {
    border-bottom: 2px solid white;
}
.nav-item.active {
    border-bottom: solid white;
}

.logo h1 {
    font-size: 4rem;
    text-align: center;
    color: white;
}

.main-content {
    padding-top: 35vh;
    overflow-y: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;    
    background-color: wheat;
}


.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    height:20vh; 
    min-height: 60px;
    background-color: black;
    flex-direction: column;
    justify-content: space-around;
}

button {
    border-style: none;
    color: white;
    outline: none;
    background: none;
}

.menu-content {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Dancing Script', cursive;
    color:#333;
    max-width: 100%;
    margin: 20px auto;
    
}

.menu-title {
    font-size: 5rem;
    text-align: center;
    font-weight: bold;
}
.intro {
    text-align: center;
    font-size: 2rem;
}

.menu-section h2 {
    font-weight:bolder;
    font-size: 2.5rem;
    padding: 1rem 0;
}
.menu-section p {
    font-weight: normal;
    padding-bottom: 1rem;
}

.menu-item h3 {
font-size: 1.6rem;
font-weight:bolder;
}

.home-content {
    background-image: url('./HardwickCafe.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    
}