@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body,html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Pacifico', cursive;
    font-size: 1rem;
}

h1 {
    font-size: 2rem;

}

p {
    font-size: 1rem;
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item {
    margin: 0 2rem;
    font-size: 1.3rem;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s ease;
}

.nav-item:hover {
    border-bottom: 2px solid white;
}
.nav-item.active {
    border-bottom: 2px solid white;
}

.logo h1 {
    display: flex;
    justify-content: center;
    font-size: 3.5rem;
    text-align: center;
    color: white;
}

.main-content {
    
    overflow-y: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;    
    background-color: wheat;
    
}


.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    min-height: fit-content;
   
    background-color: black;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 1rem;
}

button {
    border-style: none;
    color: white;
    outline: none;
    background: none;
}

.menu-content {
    /* background-size: cover;
    background-position: center;
    background-attachment: fixed; */
    padding:20vh 20px 20px 20px;
    font-family: 'Dancing Script', cursive;
    color:#333;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    
}
 .menu-wrapper {
    position:sticky;
    top:1rem;
    right: 0;
    left: 0;
    background-color: #fff;
    opacity: .7;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    max-width: 50%;
    padding: 1.5rem;
   z-index: 50;
 }

.menu-title {
    font-size: 5rem;
    text-align: center;
    font-weight: bold;
}
.intro {
    text-align: center;
    font-size: 2rem;
}

.menu-section h2 {
    font-weight:bolder;
    font-size: 2.5rem;
    padding: 1rem 0;
}
.menu-section p {
    font-weight: normal;
    padding-bottom: 1rem;
}

.menu-item h3 {
font-size: 1.6rem;
font-weight:bolder;
}

.home-content {
    padding-top: 15vh;
    text-align: center;
    height: 100%;
    width: 100%;
    font-family: 'Dancing Script', cursive;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


.home-content h2 {
    font-size: 4rem;
    color: #fff;
    text-align: center;
    margin-top: 2rem;
    transition: transform 0.3s ease-in-out;
}

.home-content p {
    font-size: 2rem;
    color: #fff;
    text-align: center;
    margin-top: 1rem;
    font-weight: lighter;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

/* .backgroundDiv {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
} */

.backgroundDiv {
    background: rgba(0, 0, 0, 0.3); 
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding: 1rem;
    display: inline-block;
}

.image-slider {
    /* position: relative; */
    width: 100%;
    height: 100%;
    z-index: 0;


}

.slide {
    position: fixed;
    left: 0;
    top:5rem;
    width: 100%;
    height: 100%;
    transition: ease-in-out 3s;
    object-fit: cover;
    z-index: 0;
}

@media screen  and (max-width:600px) {
    .logo h1 {
        font-size: 1.5rem;
    }

    .menu-wrapper {
        max-width: fit-content;
    }
    .home-content h2 {
        font-size: 2rem;
    }
   .home-content p {
    font-size: 1rem;
   }

   .nav-item {
    font-size: .7rem;
    margin: 0 1rem;
   }
}